{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in history %}
                <tr>
                    <td class="text-start">{{ entry.symbol }}</td>
                    <td class="text-end">{{ entry.share }}</td>
                    <td class="text-end">{{ "${:,.2f}".format(entry.price) }}</td>
                    <td class="text-end">{{ entry.datetime }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
